* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    height: 80vh;
  
    margin: 0 auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 30px;
    position: absolute;
    top: 50%;
    margin:0 auto;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;

    color: #fff;
    font-size: 30px;
    background-color: #dc3545;
    border: 1px solid transparent;
    border-radius: 0.3rem;
}

.btn:hover {
    background-color: #a00606;
    cursor: pointer;
}

.tooltip-container {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    margin: 0 auto;
    position: absolute;
    max-width: 300px;
}

.tooltip-container::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: calc(50% - 10px);
	bottom: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid gray;
}

.tooltip-container::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;

	bottom: -10px;
	left: calc(50% - 10px);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f9f7f7;
}

.tooltip-title {
    padding: 10px;
    margin-bottom: 0;
    background-color: #d4d4d4;
    font-size: 18px;
	font-weight: bold;
}

.tooltip-text {
    padding: 10px;
    background-color: #f9f7f7;
    font-size: 16px;
	text-align: left;
}

.hidden {
    display: none;
}